.commentNow{
    display: flex;
    justify-content: center;
    align-items: center;
}


.commentNow input{
    width: 400px;
    height: 37px;
    font-size: 15px;
    color: #000;
    font-family: 400;
    padding: 10px 14px;
    border-radius: 7px;
    border: none;
    outline: none;
    margin: 0 5px 0px 0;
}


.authorDetail{
    padding: 20px 0 20px;
}
.blogContent  p{
    margin-bottom: 20px;
}

.blogContent  p,
.blogContent  h1 {
    text-align: start;
}

.blogContent  h1 {
    padding: 20px 0;
}


.blogHeader{
    padding-bottom: 40px;
}

.buttonsMain button{
    margin: 0 10px 0px 0;
}