.heading_one{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.blog__Box{
    text-align: center;
}

.blog__Box img{
    width: 100%;
    min-height: 200px;
    max-height: 300px;
}

.blog__Box img:hover{
    cursor: pointer;
}



.blog__Box h4{
    margin: 10px 0 20px;
}