.noComments {
  color: #bebcc0;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.commentList {
  padding-bottom: 40px;
}